p{
    color: white;
}
h1{
    color: white;
    text-align: center;

}
.block {
    display: block;
    width: 80%;
    border: none;
    padding: 50px 50px;
    font-size: 40px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    background: url(george3.png);
}
.block:hover{
    background-image: url(rickroll.jpeg);
}
.block2 {
    display: block;
    width: 80%;
    border: none;
    padding: 50px 50px;
    font-size: 40px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    background: url(nixon.jpeg);
}
button{
      text-align: center;
      color: white;
}
nav{
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}
a{
    color: white;
    text-decoration: none;
}
body{
    background-color: gray;
}
html{
    background-color: gray;
}
.card{
    margin-left: auto;
    margin-right: auto;

}
.card p{
    color: white;
}
#btn2{
    background-color: black;
    border: none;
    color: white;
    padding: 11px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button{
    background-color:black;
    border: none;
    color: white;
    padding: 11px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
html, body{
    background-color:gray ;
    cursor: url('crosshair.png'), pointer;

}
#card1{
    background-color: blue;
    text-align: center;
}
#card2{
    background-color:red;
    text-align: center;
}
h5{
    color: white;
}
#grid{
    width: 200px;
  height: 100px;
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
  

}
#demo{
   text-align: center;
   color: blue;
}
